*.retry
.vagrant
restore-vm/vm_list.yml
.vault_pass
*.key
inventory.ini
downloader/files/subtitles.env
client_files
.yo-rc.json
!edms/files/edms.key
servarr/files/nzbget
servarr/files/transmission
servarr/files/sonarr
servarr/files/radarr
*.pyc
__pycache__
/**/files/ssh/**
!/**/.keep
