COMPOSE_PROJECT_NAME=dockerdownloader
HOST_IP={{ host_ip }}
NGINX_VERSION={{ nginx_version }}
TZ="{{ timezone }}"
PGID={{ pgid }}
PUID={{ puid }}
SONARR_TAG={{ sonarr_tag }}
RADARR_TAG={{ radarr_tag }}
NZBGET_TAG={{ nzbget_tag }}
TRANSMISSION_TAG={{ transmission_tag }}
