ADDIC7ED_USERNAME="{{ subtitles__addic7ed_username }}"
ADDIC7ED_PASSWORD="{{ subtitles__addic7ed_password }}"
OPENSUBS_USERNAME="{{ subtitles__opensubs_username }}"
OPENSUBS_PASSWORD="{{ subtitles__opensubs_password }}"
