---
location:
  source_directories:
    - /data

  repositories:
    {% for repo in borg_repos }
    - {{ repo }}
    {% endfor %}

  patterns:
    - "+ /data/**/backup"

storage:
  compression: zstd,6
  encryption_passphrase: "{{ borg_passphrase }}"

retention:
  keep_daily: 7
  keep_weekly: 4
  keep_monthly: 6
  keep_yearly: 1

consistency:
  checks:
    - repository
    - archives
  check_last: 3
